@model verificable.Models.Formulario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Formulario</h4>
<hr />
<div class="row">
    <div class="col-md-12">

        <form asp-action="Create" method="post" onsubmit="return validatePorcentajeDerecho();">
            <div class="border">
                <h4 class="box-title">Informacion de la Escritura</h4>
                <label for="cne">CNE:</label>
                <select name="Cne" class="form-control" onchange="showHideDiv()">
                    <option asp-for="Cne" value="Compraventa">Compraventa</option>
                    <option asp-for="Cne" value="Regularizacion De Patrimonio">Regularizacion de Patrimonio</option>
                </select>
            </div>

            <div class="border">
                <h4 class="box-title">Informacion de la Propiedad Enajenada</h4>
                <span class="col">
                    <label for="comuna">Comuna:</label>
                    <input type="text" id="comuna" name="comuna" required>
                </span>
                <span class="col">
                    <label for="manzana">Manzana:</label>
                    <input type="text" id="manzana" name="manzana" required>
                </span>
                <span class="col">
                    <label for="predio">Predio:</label>
                    <input type="text" id="predio" name="predio" required>
                </span>
             </div>

            
                <div class="border" id="enajenantes">
                    <h4 class="box-title" id="enajenantes">Informacion de los Enajenantes:</h4>
                <table id="enajenantes">
                    <thead>
                        <tr>
                            <th>Run/Rut</th>
                            <th>Porcentaje de derecho</th>
                            <th>No acreditado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" name="enajenantes[0].run_rut" required/>
                            </td>
                            <td>
                                <input type="number" step="0.01" name="enajenantes[0].porcentaje_derecho" required max="100" />
                            </td>
                            <td>
                                <input type="checkbox" step="0.01" name="enajenantes[0].no_acreditado" required/>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="removeEnajenantes(this)">Remove</button>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>

                <span id="porcentajeTotal"></span>

                <button type="button" class="btn btn-primary" onclick="addEnajenantes()" id="enajenantes">Add Enajenantes</button><br><br>
            </div>
            
            <div class="border">
                <h4 class="box-title">Informacion de los Adquirientes:</h4>
                <table id="adquirientes">
                    <thead>
                        <tr>
                            <th>Run/Rut</th>
                            <th>Porcentaje de derecho</th>
                            <th>No acreditado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" name="adquirentes[0].run_rut" required/>
                            </td>
                            <td>
                                <input type="number" step="0.01" name="adquirentes[0].porcentaje_derecho" required max="100" />
                            </td>
                            <td>
                                <input type="checkbox" step="0.01" name="adquirentes[0].no_acreditado" required/>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="removeAdquirente(this)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-primary" onclick="addAdquirente()">Add Adquirente</button><br><br>
            </div>

            <div class="border">
                <h4 class="box-title">Inscripcion</h4>

                <span class="col">
                    <label for="fojas">Fojas:</label>
                    <input type="number" id="fojas" name="fojas" required>
                </span>
                <span class="col">
                    <label for="FechaInscripcion">Fecha de Inscripción:</label>
                    <input type="date" id="FechaInscripcion" name="FechaInscripcion" required>
                </span>
                <span class="col">
                    <label for="NumInscripcion">Número de Inscripción:</label>
                    <input type="number" id="NumInscripcion" name="NumInscripcion" required>
                </span>
            </div>

            <input type="submit" value="Enviar">
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        //Para  enajenantes

        var enajenantesCount = 1;

        function addEnajenantes() {
            var enajenantesTable = document.getElementById("enajenantes").getElementsByTagName('tbody')[0];
            var newRow = enajenantesTable.insertRow(-1);

            var runRutCell = newRow.insertCell(0);
            runRutCell.innerHTML = '<input type="text" name="enajenantes[' + enajenantesCount + '].run_rut" required/>';

            var porcentajeCell = newRow.insertCell(1);
            porcentajeCell.innerHTML = '<input type="number" step="0.01" name="enajenantes[' + enajenantesCount + '].porcentaje_derecho" required max="100"/>';

            var noAcreditadoCell = newRow.insertCell(2);
            noAcreditadoCell.innerHTML = '<input type="checkbox" step="0.01" name="enajenantes[' + enajenantesCount + '].no_acreditado" required/>';

            var removeCell = newRow.insertCell(3);
            removeCell.innerHTML = '<button type="button" class="btn btn-danger" onclick="removeEnajenantes(this)">Remove</button>';

            enajenantesCount++;
            handleInputPairs();
        }

        function removeEnajenantes(button) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        //Para adquirientes

        var adqCount = 1;

        function addAdquirente() {
            var adqTable = document.getElementById("adquirientes").getElementsByTagName('tbody')[0];
            newRow = adqTable.insertRow(-1);

            runRutCell = newRow.insertCell(0);
            runRutCell.innerHTML = '<input type="text" name="adquirentes[' + adqCount + '].run_rut" required/>';

            porcentajeCell = newRow.insertCell(1);
            porcentajeCell.innerHTML = '<input type="number" step="0.01" name="adquirentes[' + adqCount + '].porcentaje_derecho" required max="100"/>';

            noAcreditadoCell = newRow.insertCell(2);
            noAcreditadoCell.innerHTML = '<input type="checkbox" step="0.01" name="adquirentes[' + adqCount + '].no_acreditado" required/>';

            removeCell = newRow.insertCell(3);
            removeCell.innerHTML = '<button type="button" class="btn btn-danger" onclick="removeAdquirente(this)">Remove</button>';

            adqCount++;
            handleInputPairs();
        }

        function removeAdquirente(button) {
            row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        function showHideDiv() {
            var cneElement = document.getElementsByName("Cne")[0];
            var enajenantesElement = document.getElementById("enajenantes");

            if (cneElement.value === "Regularizacion De Patrimonio") {
                enajenantesElement.style.display = "none";
                // remove 'required' attribute from hidden input fields
                var inputs = enajenantesElement.querySelectorAll("input");
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].removeAttribute("required");
                }
            } else if (cneElement.value === "Compraventa") {
                enajenantesElement.style.display = "block";
                // add 'required' attribute to visible input fields
                var inputs = enajenantesElement.querySelectorAll("input");
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].setAttribute("required", "");
                }
            }
        }


        function handleInputPairs() {
            const adquirientesPairs = document.querySelectorAll('#adquirientes tbody tr');
            adquirientesPairs.forEach(pair => {
                const inputPorcentaje = pair.querySelector('input[name*="porcentaje_derecho"]');
                const inputNoAcreditado = pair.querySelector('input[name*="no_acreditado"]');

                inputPorcentaje.addEventListener('input', () => {
                    console.log("CLickeado porcentaje");
                    if (inputPorcentaje.value !== '') {
                        inputNoAcreditado.disabled = true;
                    } else {
                        inputNoAcreditado.disabled = false;
                    }
                });

                inputNoAcreditado.addEventListener('change', () => {
                    console.log("CLickeado no acreditado");
                    if (inputNoAcreditado.checked) {
                        inputPorcentaje.disabled = true;
                    } else {
                        inputPorcentaje.disabled = false;
                    }
                });
            });

            const enajenantesPairs = document.querySelectorAll('#enajenantes tbody tr');
            enajenantesPairs.forEach(pair => {
                const inputPorcentaje = pair.querySelector('input[name*="porcentaje_derecho"]');
                const inputNoAcreditado = pair.querySelector('input[name*="no_acreditado"]');

                inputPorcentaje.addEventListener('input', () => {
                    console.log("CLickeado porcentaje");
                    if (inputPorcentaje.value !== '') {
                        inputNoAcreditado.disabled = true;
                    } else {
                        inputNoAcreditado.disabled = false;
                    }
                });

                inputNoAcreditado.addEventListener('change', () => {
                    console.log("CLickeado no acreditado");
                    if (inputNoAcreditado.checked) {
                        inputPorcentaje.disabled = true;
                    } else {
                        inputPorcentaje.disabled = false;
                    }
                });
            });
        }
        $(document).ready(function () {
            handleInputPairs('#adquirientes');
            handleInputPairs('#enajenantes');
        });

        function validatePorcentajeDerecho() {

            //obtiene todos los elementos que comienzan con enajenante y terminan con porcentaje_derecho
            var porcentajesEnajenantes = document.querySelectorAll('[name^="enajenantes"][name$="porcentaje_derecho"]');
            var porcentajesAdquirentes = document.querySelectorAll('[name^="adquirentes"][name$="porcentaje_derecho"]');
            var totalPorcentajeEnajenantes = 0;
            var totalPorcentajeAdquirentes = 0;

            for (var i = 0; i < porcentajesEnajenantes.length; i++) {

                if (porcentajesEnajenantes[i].value !== "") {
                    totalPorcentajeEnajenantes += parseFloat(porcentajesEnajenantes[i].value);
                }
                
            }

            for (var i = 0; i < porcentajesAdquirentes.length; i++) {

                if (porcentajesAdquirentes[i].value !== "") {
                    totalPorcentajeAdquirentes += parseFloat(porcentajesAdquirentes[i].value);
                }

            }

            if (totalPorcentajeEnajenantes > 100) {
                alert("La suma de los porcentajes de los enajenantes no debe superar 100.");
                return false;
            }
            if (totalPorcentajeAdquirentes > 100) {
                alert("La suma de los porcentajes de los adquirentes no debe superar 100.");
                return false;
            }
            return true;
        }



    </script>
}
